* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
    color: #fff;
}

html,
body {
    height: 100%;
    width: 100%;
}

nav {
    position: fixed;
    /* background-color: rgb(0, 255, 68); */
    display: flex;
    align-items: flex-start;
    height: 12vh;
    width: 100%;
    padding: 2vw 10.4vw;
    justify-content: space-between;
    background-color: #111;
    z-index: 10;
}

nav h1 {
    font-size: 1.6vw;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.nav-part2 {
    display: flex;
    gap: 2vw;
    align-items: flex-start;
    padding: 1vh 0;
    position: relative;
    z-index: 10;
}

.nav-part2 h4 {
    font-size: 0.73vw;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 2.6vw;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.nav-part2 h5 {
    margin-bottom: 1vw;
    /* background-color: red; */
    display: none;
    overflow: hidden;
}

.nav-part2 h5 span {
    font-size: 0.77vw;
    font-weight: 400;
    transform: translateY(25px);
    display: inline-block;
    font-family: "Ubuntu", sans-serif;
    font-weight: 200;
    font-style: normal;
}

nav button {
    background-color: #0BA34E;
    display: flex;
    align-items: center;
    padding: 14px 20px;
    font-size: 0.85vw;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 50px;
    border: none;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
}

nav button svg {
    height: 0.8vw;
    margin-left: 1.6vw;
}

#nav-bottom {
    width: 79%;
    height: 0vh;
    position: absolute;
    /* background-color: red; */
    top: 100%;
    background-color: #111;
    z-index: 9;
    border-bottom:1px solid rgb(112, 108, 108) ;
}
#page1 {
    height: 100vh;
    width: 100%;
    background-color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

#page1 h1 {
    font-size: 8.5vw;
    text-transform: uppercase;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 8.5vw;
}

#page1 h1 svg {
    height: 6vw;
    border-radius: 50%;
    width: 6vw;

    background-color: #0BA34E;
}

#page1 p {
    text-align: center;
    font-weight: 400;
    margin-top: 3vh;
    font-size: .9vw;
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
}

#page1-something {
    display: flex;
    align-items: center;
    justify-content: center;
}

#page1-something h4 {
    font-weight: 400;
    font-size: 1vw;
    text-transform: lowercase;
    margin-top: 0.5vw;
    padding: 9px 18px;
    border: 1px solid hsl(0, 0%, 65%);
    border-radius: 50px;
}

#page1-something h4:nth-last-child(2) {
    /* background-color: red; */
    border: none;
    padding: 2px;
}
#moving-div{
    bottom: 3%;
    position: absolute;
    /* background-color: red; */
    margin-top: 10vh;
    width: 44%;
    white-space: nowrap;
    overflow: hidden;
    padding: 1.2vw;
}
#moving-div .move{
   display: inline-block;
   animation-name: mobe;
   animation-duration: 10s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
}
#moving-div .move img{
    height: 1vw;
    margin: 0 1.2vw;
}
@keyframes mobe{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}
#blur-left{
    height: 100%;
    width: 20%;
    background:linear-gradient(to right,#111,transparent);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
#blur-right{
    height: 100%;
    width: 20%;
    background:linear-gradient(to right,transparent,#111);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}
#page2{
    height: 100vh;
    width: 100%;
    background-color: #111;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 10.5vw;
    padding-bottom: 8vw;
    border-top:1px solid rgb(112, 108, 108) ;
}
#move-left{
    /* background-color:red; */
    width: 40%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
     padding: 3vw 0 ;
}
#move-right{
    /* background-color:rgb(96, 60, 60); */
    width: 50%;
    height: 100%;
}
#move-left p{
   font-size: 1.1vw;
   font-family: "Ubuntu", sans-serif;
   font-weight: 400;
   font-style: normal;
}
#move-left h5{
    width: 75%;
   font-size: 1.1vw;
   font-weight: 400;
   font-family: "Ubuntu", sans-serif;
   font-style: normal;
}
.right-elem{
    position: relative;
    /* background-color: red; */
    padding-top: 2vw;
    padding-bottom: 5vw;
    border-bottom: 1px solid rgb(112, 108, 108) ;
}
.right-elem h2{
    font-size: 1.35vw;
    font-weight: 400;
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
}
.right-elem img{
height:6vw;
width: 6vw;
border-radius: 50%;
object-fit: cover;
position: absolute;
opacity: 0;
}

#page3{
    height: 100vh;
    width: 100%;
    background-color: #111;
    position: relative;
    background-image: url(https://cdn.dribbble.com/userupload/37201350/file/original-d2783d15aea2799b5c93a603c264a4b9.png?resize=1600x1200&vertical=center);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page3-center{
    /* background-color: red; */
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1vw;
}
.page3-center .icon{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3vw;
    border-radius: 50%;
}
.page3-center .icon i{
    color: #000;
    font-size: 3vw;
}
.page3-center h5{
    font-size: .8vw;
    padding: 10px 20px;
    text-transform:uppercase;
    font-weight: 800;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
    color: black;
    border-radius: 50px;
    margin-top: 0.5vw;
    opacity: 0;
    transition: all ease 0.5s;
    transform: translateY(10%);
}
.page3-center:hover h5{
    opacity: 1;
    transform: translateY(0%);
}
#page3 video{
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    transform: scaleX(0.7) scaleY(0);
    border-radius: 30px;
    opacity: 0;
    z-index: 9999;
}
#page31{
    height: 100vh;
    width: 100%;
    background-color: white;
    color: black;
    display: flex;
}
#leftpart {
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding-bottom: 13vw; 
}
    
#leftpart p{
    color: black;
    /* background-color: red; */
    font-size: 2vw;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
}
#rightpart{
    width: 50%;
    display: flex;
    align-items: flex-start;
    /* background-color: red; */
    flex-direction: column;
    padding-right: 10vw;
    padding-top: 7vw;
    padding-bottom: 5vw;
}
#rightpart .toppara{
    padding: 2vw 2vw 2.5vw 2vw;
}
#rightpart .toppara h3{
    font-size: 1.1vw;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
     opacity: 0.7;
     line-height: 1.5vw;
}
#rightpart .toppara h5{
    text-transform: uppercase;
    font-size: .9vw;
    padding-bottom: 1.5vw;
    opacity: 0.3;
    color: black;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.bottompara{
    padding: 2vw;
}
.bottompara h3{
    font-size: 1.1vw;
     font-family: "Ubuntu", sans-serif;
     font-weight: 400;
     font-style: normal;
    color: black;
     opacity: 0.7;
     line-height: 1.5vw;
}
.bottompara h5{
      text-transform: uppercase;
    font-size: .9vw;
    padding-bottom: 1.5vw;
    opacity: 0.3;
    color: black;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
   font-style: normal;
}

#page4{
    min-height: 80vh;
    width: 100%;
    position: relative;
    padding-bottom: 1vh;
    /* background-color: white; */
}
.section{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5vh 10vw;
    margin-bottom: 5vw;
}
.sec-left{
    color: #000;
    /* background-color: aqua; */
    height: 100%;
    width: 25%;
    border-top: 1px solid black;
}
.sec-left h2{
    padding-top: 1.3vw;
    font-size: 2vw;
    font-weight: 400;
      font-family: "Ubuntu", sans-serif;
    font-weight: 500;
   font-style: normal;
       color: #000;
}
.sec-left p{
    color: #000;
    margin-top: 5vh;
    font-size: 1.1vw;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
    padding-top: 5vw;
    line-height: 1.7vw;
}
.sec-right{
    color: #000;
    background-color: rgb(37, 29, 16);
    height: 100%;
    width: 70%;
    position: relative;
}
.sec-right img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.sec-right video{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    object-fit: cover;
    opacity: 0;
}
#page5{
    min-height: 100vh;
    width: 100%;
    background-color: #111;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 5vh 10.5vw;
}
#page5>button{
    background-color: green;
    padding: .8vw 1.2vw;
    border-radius: 50px;
    border: none;
    font-size: 1.1vw;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
    position: sticky;
    top: 15%;
}
#page-right{
    width: 70%;

}
#page-right>p{
    font-size: 1.7vw;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 2.4vw;
}
#page-right>p span{
    background-color: red;
    display: inline-block;
    width: 10vw;
}
#page5-content{
    width: 100%;
    /* background-color: red; */
    padding: 5vh 0;
    margin-top:5vh;
    /* border-top: 1px solid #dad; */
}

#page5-content h1{
    font-family: "Ubuntu", sans-serif;
    font-weight: 550;
    font-style: normal;
    font-size: 2.5vw;
}

#page5-content #flex{
    display: flex;
    margin-top: 4vh;
    margin-bottom: 2vw;
}
#page5-content #flex h4{
    border-radius: 50px;
    border: 1px solid #dad;
    padding: 10px 20px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.page5-elem{
border-top:1px solid #333 ;
display: flex;
align-items: flex-start;
justify-content: space-between;
padding-top: 4vh;
padding-bottom: 8vh;
position: relative;
overflow: hidden;
/* background-color: red; */
}
.page5-elem p{
    width: 60%;
    font-size: 1.2vw;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: relative;
    z-index: 8;
}
.page5-elem h3{
    font-size: 1.3vw;
    font-family: "Ubuntu", sans-serif;
    font-weight: 550;
    font-style: normal;
    position: relative;
    z-index: 8;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
.page5-elem i{
    font-size: 1vw;
    position: relative;
    z-index: 8;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
#over{
   height: 100%;
   width: 100%;
   background-color: #222;
   position: absolute; 
   top: 0;
   transform: translateY(-100%);
   opacity: 0;
   transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.page5-elem:hover h3{
    padding-left: 1vw;
}
.page5-elem:hover i{
    padding-right: 1vw;
}
.page5-elem:hover #over{
    transform: translateY(0);
    opacity: 1;
}
.page5-elem:hover{
    border-top: 2px solid white;
}
summary::marker{
    content: "";
}
.uiux{
    border-top: 1px solid #333;
    padding-top: 3vh;
}
.product{
    border-top: 1px solid #333;
    padding-top: 3vh;
}
#page6{
    min-height: 100vh;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    background-color: #111;
    border-top: 1px solid #333;
    
}
.main-container{
    width: 77%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: .3vw;

}
.video-container{
    border: 1px solid #333;
    width: 33%;
    position:relative;
    background-color: #111;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    text-align: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;

}
.video-container video{
    width: 100%;
    height: 360px;
    object-fit: cover;
}
.video-container .hover-text{
    position: absolute;
    top: 66%;
    left: 35%;
    transform: translate(-50%,-50%);
    color: #000;
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 3vw;
    font-family: "Ubuntu", sans-serif;
    font-weight: 550;
    font-style: normal;
    opacity: 1;
}
.hover-text2{
    position: absolute;
    top: 80%;
    left: 30%;
    transform: translate(-50%,-50%);
    color: #000;
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 1vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    opacity: .5;
}
#vid2{
    width: 100%;
    overflow: hidden;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: .3vw;
}
.video-container2{
    border: 1px solid #ff0000;
    width: 50%;
    height: 400px;
    position:relative;
    background-color: #111;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    text-align: flex-start;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.video-container2 .vid2-head{
    position: absolute;
    top: 60%;
    left: 11%;
    font-size: 2.5vw;
    font-family: "Ubuntu", sans-serif;
    font-weight: 550;
    font-style: normal;
}
.video-container2 .vid2-para{
    position: absolute;
    top: 70%;
    left: 11%;
    font-size: 1vw;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    opacity: .5;
}
footer{
    background-color: #111;
    min-height: 50vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #333;
}
#footer{
   width: 65%;
   padding-top: 4vw;
   padding-bottom: 6vw;
   padding-left: 11vw;
   padding-right: 0vw;
   display: flex;
   align-items: flex-start;
   justify-content: flex-start;
   flex-wrap: nowrap;
   gap: 3vw;
}
#footer .footer-div1{
    display:flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
 
}
.footer-div1 h2{
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
    padding-bottom: 2vw;
    font-size: 1vw;
}
.footer-div1 h6{
    padding: .5vw;
    font-size: .8vw;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#footer2{
    width: 35%;
    padding-top: 4vw;
    padding-bottom: 6vw;
    padding-left: 1vw;
    padding-right: 1vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;

}
#footer2 #foot-address h2{
    font-family: "Ubuntu", sans-serif;
    font-weight: 600;
    font-style: normal;
    padding-bottom: 1.9vw;
    font-size: 1.1vw;
    text-transform: uppercase;
}
#footer2 #foot-address h6{
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: .8vw;
    line-height: 1.5vw;
}
#foot-address2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}
#foot-address2 h3{
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
}


/* Media-Query */
@media(max-width: 430px){
    html, body{
        width: 155%;
    }

    /* navbar */
    nav{
    padding: 4vw 7.4vw;
    height: 12vh;
    width: 100%;
    border-bottom: 1px solid rgb(112, 108, 108);
    } 
   nav h1 {
        font-size: 4.6vw;
        padding-top: 2vw;
    }
    .nav-part2 h4 {
        font-size: 4.5vw;
        padding-top: 0;
        padding-left: 2vw;
        padding-right: 2vw;
        padding-bottom: 2vw;
        margin-bottom: -1.4vw;
    }
    .nav-part2 {
            flex-wrap: wrap;
            display: flex;
            flex-direction: row;
            padding: 5px 29px;
    }
     nav button {
            padding: 3px 4px;
            font-size: 4vw;
        }
        
    /* page1  */
    #page1 {
        height: 240vh;
        }
    #page1 h1 {
            font-size: 21.5vw;
            line-height: 20.5vw;
        }
    #page1 h1 svg {
            height: 15vw;
            width: 15vw;
        }
    #page1 p {
        margin-bottom: 1vh;
        font-size: 4.5vw;
    }
    #page1-something h4 {
        font-size: 4.5vw;
    }
    #moving-div {
        bottom: 6%;
    }
    #moving-div .move img {
        height: 6vw;
    }
     #nav-bottom{
            border: none;
          }
    
    /* page2  */
    #page2 {
        height: 129vh;
        padding: 0vw 6.5vw
    }
    #move-left p {
        font-size: 8.1vw;
    }    
    #move-left h5 {
        font-size: 8.1vw;
    }
    .right-elem h2 {
        font-size: 7.35vw;
    }
    .right-elem {
        padding-top: 5vw;
        padding-bottom: 14vw;
    }

} 